body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 14px;
}

div#textbody {
	background-color: blue;
	margin-left: 35px;
	margin-right: 45px;

}



div#content {
	height: 900px;
	width:100%;
}

div#bottom {

	width:100%;
	/* background-color: #CADA3C; */
	text-align: center;
}

div#footernotes {
	font-size: 8pt;
	color:#999999;
}

p#dagtekening {
	margin-top: -20px;
}

#plaatholder{
	width: 30%;
	height: 170px;
	float:right;
}

.plaatje {
	max-width: 200px;
	margin-top: 15px;
}

div.barcode {
	width: 100%;
	margin-left: 300px;
	/*padding-top: 20px;
	padding-bottom: 20px;
    padding-left: 200px;*/
    
}
div#barcodenumber {
	margin-top: -10px;
	margin-left:80px;
   
}



.page-break {
    page-break-after: always;
}

#verlanglijstholder{
	width: 630px;
	height: 250px;
	border: 1px dashed red;
}


